<form action="/dashboard/addclub" method="POST">
  <div class="field">
    <input class="input" type="text" placeholder="Enter club name" name="name" required>
  </div>
  <button class="button is-link">Add Club</button>
</form>
