{{> menu}}

<section class="section">
  <div class="title">
    {{club.name}}
  </div>
  <div class="buttons">
    <a href="/club/{{club._id}}/edit" class="button is-primary">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit</span>
    </a>
  </div>
</section>
